@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
    font-family: "Alegreya" , sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    
}



/*swiper styles*/
.img{
    @apply h-72 md:h-80 object-cover w-full rounded-xl ;
}

.img1{
    @apply h-72 md:h-80 object-center object-cover w-full rounded-xl ;
}




.swiper-wrapper{
    width:50%
}

.swiper-button-prev, .swiper-button-next{
    background-color: rgba(216, 99, 4, .1);
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% ;
    

}
.swiper-button-prev:after , .swiper-button-next:after{
    font-size: 18px !important;
    font-weight: 300 !important;
    color: white;
}

.swiper-pagination-bullet{
    background: rgb(216, 99, 4) !important;
}





/*dissapearing text*/

.textbox{
    @apply w-full h-72 md:h-80 p-3  gap-4 flex flex-col capitalize justify-center md:w-1/2 md:order-1 text-gray-600 font-medium  text-2xl md:text-4xl;
    opacity: 0;
    scale: 80%;
    animation:appear linear forwards;
    animation-timeline: view(700px 100px) ;

}
.inf{
    @apply w-full md:w-1/2 text-gray-900 h-56 lg:w-1/3 flex flex-col  gap-3 justify-center  items-start;
    opacity: 0;
    scale: 80%;
    animation:appear linear forwards;
    animation-timeline: view(700px 100px) ;
}
.ta{
    @apply list-disc flex flex-col gap-2 text-lg text-gray-900;
    opacity: 0;
    scale: 80%;
    animation:appear linear forwards ;
    
    animation-timeline: view(700px 100px) ;
}
@keyframes appear {
    to{
        opacity: 100;
        scale: 100%;
    }
}

/*imgshw*/
.imgshw{
    @apply   object-cover md:h-[700px] md:w-full;
   
}


/*scrollbar*/

::-webkit-scrollbar{
    display:none;
}


/*imgskew*/

.imgSkew{
    transform: rotate(30deg ) ;

    transform-style: preserve-3d;
    scale:80%;
    animation: img linear forwards;
    animation-timeline: view() ;
    
}

@keyframes img {
    to{
        transform: rotate(5deg);
        scale:100%;
    }
}